@import 'tailwindcss';

:root {
	background-color: #fff5f7;
	color: #4a4a4a;
	font-family: 'Fira Code', monospace;
}

.animate-fade-in {
	opacity: 0;
	transform: translateX(-20px);
	filter: blur(8px);
	transition:
		opacity 0.5s ease-out,
		transform 0.5s ease-out,
		filter 0.5s ease-out;
}

.animate-fade-in.visible {
	opacity: 1;
	transform: translateY(0);
	filter: blur(0px);
}

::selection {
	background-color: #ffdee5;
	color: #d63384;
}
